table {
    width: 100%;
    border-collapse: collapse;
  }
  
  tbody {
    display: block;
  }

  th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
    white-space: pre-wrap;
    /* word-break: break-all;  Added property */
  }

  thold, tdold {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ddd;
    word-wrap: break-word;
    white-space: pre-wrap;
  }
  
  th {
    background-color: #f2f2f2;
    word-wrap: break-word;
  }
  
  th:first-child, td:first-child {
    /*width: 5%;*/
    width: 10px;
  }
  
  
  th:last-child, td:last-child {
    /*width: 5%;*/
    width: 50px;
  }

  th:nth-last-child(2) , td:nth-last-child(2) {
    /*width: 5%;*/
    width: 50px;
  }
  
  th.resize {
    resize: horizontal;
    overflow: auto;
  }

  td div {
    width: 100%;
    min-height: 1em; /* Ensures the cell has a minimum height */
    overflow: hidden;
    box-sizing: border-box;
    font-family: inherit;
    font-size: inherit;
    padding: 0;
}

  .totalitemslabel {
    width: 40%;
  }

  .table2 {
    display: flex;
  }
  
  .column {
    flex: 1;
    padding: 10px;
  }

  thead {
    position: sticky;
    top: 0;
  }

    /* Style the popup */
  .popup {
      display: none;
      position: fixed;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      background-color: white;
      padding: 20px;
      border: 1px solid black;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
      z-index: 9999;
      max-width: 800px;
      max-height: 400px;
      overflow-y: scroll;      
  }

  .filecolpopup {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid black;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    z-index: 9999;
    max-width: 400px;
    max-height: 400px;
    overflow-y: scroll;  
  }

  .transpopup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    max-height: 400px;
    visibility: hidden;
    overflow: auto;
}


.transpopup.active {
    visibility: visible;
}

.transpopup-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    max-width: 400px;
    overflow: auto;
    text-align: center;
}

.sortable {
  cursor: pointer;
  user-select: none;
  resize: horizontal;
  overflow: auto;
}

.category-dropdown {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  max-height: 150px;
  overflow-y: auto;
}

.category-dropdown button {
  width: 100%;
  text-align: left;
  padding: 8px;
}

.search-input {
  width: 200px;
}

.search-input-small {
  width: 20px;
}

.hint-popup {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  padding: 10px;
  width: 250px;
  font-family: Arial, sans-serif;
}

.search-input:hover + .hint-popup {
  display: block;
}

.search-input-small:hover + .hint-popup {
  display: block;
}

.result-icon {
    font-size: 24px;
    display: inline-block;
    width: 24px;
    height: 24px;
    text-align: center;
    vertical-align: middle;
}
.correct {
    color: green;
}
.incorrect {
    color: red;
}
.spoken-text {
  margin-top: 5px;
  font-size: 14px;
}

.numeric-column {
  width: 30px;
}

.speaker-icon::before {
  content: "\1F508"; /* Unicode code point for the speaker icon */
  font-size: 20px;
  margin-right: 5px;
}

.adddelicon {
  font-size: 20px;
  margin-right: 5px;
}

button, select, input {
  font-size: 16px;
  margin-right: 5px;
}

.custom-input {
    width: 100px;
}
