table {
    width: 100%;
    border-collapse: collapse;
  }
  
  tbody {
    display: block;
  }

  th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
    white-space: pre-wrap;
    /* word-break: break-all;  Added property */
  }

  thold, tdold {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ddd;
    word-wrap: break-word;
    white-space: pre-wrap;
  }
  
  th {
    background-color: #f2f2f2;
    word-wrap: break-word;
  }
  
  th:first-child, td:first-child {
    width: 5%;
  }
  
  
  th:last-child, td:last-child {
    width: 5%;
  }
  
  th.resize {
    resize: horizontal;
    overflow: auto;
  }

  .totalitemslabel {
    width: 40%;
  }

  .table2 {
    display: flex;
  }
  
  .column {
    flex: 1;
    padding: 10px;
  }

  thead {
    position: sticky;
    top: 0;
  }

    /* Style the popup */
  .popup {
      display: none;
      position: fixed;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      background-color: white;
      padding: 20px;
      border: 1px solid black;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
      z-index: 9999;
      max-width: 400px;
      max-height: 400px;
      overflow-y: scroll;      
  }

  .filecolpopup {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid black;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    z-index: 9999;
    max-width: 400px;
    max-height: 400px;
    overflow-y: scroll;  
  }

  .transpopup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    max-height: 400px;
    visibility: hidden;
    overflow: auto;
}


.transpopup.active {
    visibility: visible;
}

.transpopup-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    max-width: 400px;
    overflow: auto;
    text-align: center;
}

.sortable {
  cursor: pointer;
  user-select: none;
  resize: horizontal;
  overflow: auto;
}